* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calculator-title {
  text-align: center;
}

.calculator-body {
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid red;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 768px;
  /* max-height: 600px; */
  width: 80dvw;
  height: 80dvh;
}

.calculator-display {
  border: 1px solid gray;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 3rem;
  padding-right: 1rem;
}
.clear-btn {
  grid-column-start: 1;
  grid-column-end: 4;
}
.calculator-button {
  border: 1px solid yellowgreen;
  display: grid;
  place-items: center;
  font-size: 2rem;
  transition: all 0.1s ease-in;
}

.calculator-button:active {
  background-color: bisque;
  color: azure;
}
